@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import "reset.css";

$white: #ffffff;
$black: #444;

$colorBg: #edf0f1;

$colorResalte: #25b99a;
$headerShadow: rgba(44, 62, 80, 0.15);

$colorSeparators: $colorBg;
$colorSeparatorTask: darken($colorBg, 15%);
$colorTexts: $black;

$colorRemove: #c0cecb;
$colorRemoveHover: #e85656;

$colorComplete: $colorResalte;
$colorCompleteHover: rgba($colorResalte, 0.6);

$colorOptContainer: $colorBg;
$colorLightSelector: #d4d4d4;

$breakTable: 768px;
$breakBigTable: 960px;

html, body {
    background: $colorBg;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}

.noFill {
    fill: none;
}

header {
    display: block;
    width: 100%;
    // min-height: 80px;
    // position: fixed;
    // top: 0;
    // left: 0;

    padding: 0.8em 0;
    position: relative;

    z-index: 5;
    box-shadow: 0 2px 4px $headerShadow;
    background: $colorResalte;
    border-radius: 0 0 10px 10px;

    input {
        display: block;
        width: 76%;
        min-height: 50px;

        margin: 0 auto;

        padding: 0 60px 0 0;

        position: relative;
        // float: left;
        color: $white;

        font-size: 0.85em;
        font-weight: 400;

        text-indent: 15px;

        background: rgba($white, 0.2);
        border-radius: 5px 25px 25px 5px;
        border: 0px;
        box-shadow: none;
        outline: none;

        appearance: none;

        @media(min-width: 550px) {
            width: 84%;
        }
        
        @media(min-width: $breakTable) {
            width: 95%;
            padding: initial;
        }

        // @media(min-width: $breakBigTable) {
        //     width: 90%;
        // }
    }

    input::-ms-input-placeholder {
        color: rgba($white, 0.50);        
    }

    input::-moz-placeholder {
        color: rgba($white, 0.50);
    }

    input:-moz-placeholder {
        color: rgba($white, 0.50);
    }

    input::-webkit-input-placeholder {
        color: rgba($white, 0.50);
    }

    button {
        width: 50px;
        height: 50px;
        
        position: absolute;
        top: 13px;
        right: 16px;
        z-index: 2;

        border-radius: 25px;
        background: $white;
        border: 0px;
        box-shadow: none;
        outline: none;

        appearance: none;
        cursor: pointer;

        svg {
            display: block;
            width: 16px;
            height: 16px;

            position: absolute;
            top: 50%;
            left: 50%;
            margin: -8px 0 0 -8px;

            .fill {
                fill: $colorResalte;
            }
        }
    }    
}

.container {
    display: block;
    width: 100%;
    padding: 1em 0;
}

ul.todo {
    display: block;
    width: 95%;
    margin: 0 auto;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;

        position: relative;

        max-width: 100%;
        min-height: 50px;

        background: $white;
        border-radius: 5px;
        box-shadow: 0 1px 2px $headerShadow;

        font-size: 14px;
        font-weight: 400;
        color: $colorTexts;
        line-height: 22px;

        margin:0 0 10px;        
        // padding: 0 100px 0 10px; 

        p {
            display: block;
            width: 100%;
            padding: 0.2em 0.4em;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;

            width: 100px;
            height: 50px;

            position: relative;

            // position: absolute;
            // top: 0;
            // right: 0;

            button {
                display: block;
                width: 50px;
                height: 50px;

                padding: initial;
                margin: 0;

                background: none;
                border: 0px;
                box-shadow: none;
                outline: none;

                appearance: none;
                cursor: pointer;
            }

            button svg .fill {
                transition: 0.2s ease;
            }

            button.remove svg {
                width: 25px;
                height: 25px;

                // position: absolute;
                // top: 50%;
                // left: 50%;
                // margin: -11px 0 0 -11px; 
            }

            button.remove svg .fill {
                fill: $colorRemove;
            }

            button.remove:hover svg {
                .fill {
                    fill: $colorRemoveHover;
                }
            }

            button.complete svg {
                width: 22px;
                height: 22px;
                border-radius: 14px;
                border: 1.5px solid $colorComplete;
            }

            button.complete svg .fill {
                fill: $colorComplete;
            }

            button:last-of-type:before {
                content: '';
                width: 1px;
                height: 30px;

                position: absolute;
                top: 10px;
                left: 50px;
                background: $colorSeparators;
            }
        }
    }

    li:last-of-type {
        margin:0;
    }
}

#completed {
    li .buttons button.complete svg {
        background: $colorComplete;
        // border: 0px;
    }    

    li .buttons button.complete svg .fill {
        fill: $white;
    }
}

// ul.todo:not(#completed) li .buttons button.complete:hover svg {
//     background: $colorCompleteHover;
//     // border: 0px;
// }

// ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
//     fill: $white;
// }

ul.todo#completed{
    // padding: 60px 0 0;
}

ul.todo#completed:before {
    content: '';

    display: block;
    width: 150px;
    height: 1px;
    background: $colorSeparatorTask;
        
    margin: 2em auto;
    // margin: 0 0 0 -75px;

    // position: absolute;
    // top: 30px;
    // left: 50%;
}

ul.todo#todo:empty:after {
    content: 'You have nothing to-do!';
    margin: 15px 0 0;
}

ul.todo#completed:empty:after {
    content: 'You have yet to complete any tasks.';
}

ul.todo#todo:after, ul.todo#completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.75em;
    color: darken($colorBg, 25%);
}

// Styles Color

.option-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 75%;
    max-width: 230px;

    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 25;

    background: $colorOptContainer;
    border-radius: 30px;

    box-shadow: 0px 0px 10px rgba($black, 0.5);

    cursor: pointer;

    .light-dark-mode {
        display: block;
        width: 55px;
        height: 30px;
        padding: 0.8em 0;
    
        background: $colorLightSelector;
        border-radius: 30px;
    
        svg, svg path {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto;
    
            fill: darken($colorLightSelector, 40%);
        }
    }
    
    .color-selector {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        width: calc(100% - 55px);

        .color-item {
            display: block;
            width: 30px;
            height: 30px;

            border: 2px solid darken($colorLightSelector, 40%);
            border-radius: 30px;
        }
    }

    #green-item{
        background: $colorResalte;
    }

    #violet-item {
        background: #ae48ef;
    }

    #blue-item {
        background: #256eb9;
    }
}


